/node_modules
package-lock.json
*.odt
*.odt#
*.ods
*.ods#
README.md
/info-about-project
/src/scripts/ltelegbot-tok.js
.env
/dist/lib-ttf-to-woff/
package_old.json
old_gulpfile.js
.vercel
