body {
    background-color: $main-gray-1;
    color: $main-black;
    @include fontFam($font-regular);
    font-size: rems($root-font-size);
    line-height: rems(24);
    cursor: default;
}

.container {
    background-color: $main-white;
    max-width: 100%;
    margin: 0 auto;
    width: rems($content-width);
}

img {
    max-width: 100%;
	height: auto;
}

.btn {
    border: 0;
    border-radius: rems(4);
    background: $main-yellow;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    color: $main-black;
    cursor: pointer;
    display: block;
    @include fontFam($font-bold);
    font-size: rems(22);
    line-height: rems(80);
    letter-spacing: rems(2);
    margin: 0 auto;
    max-width: rems(400);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 0.3s, color 0.5s;
    width: 100%;
    &:hover {
        box-shadow: 0 0 rems(15) rgba(0, 0, 0, 0.3);
        color: $blue-light;
    }
    &:active {
        box-shadow: none;
        color: $main-black;
    }
}
