// BASE FONT SIZE
$root-font-size: 16;
// MAIN LAYOUT SIZES
$content-width: 480; // Content width
$pad-top-bottom: 10;
$pad-left-right: 20;
// FONT
$font-path: 'fonts';
$font-regular: 400;
$font-bold: 700;
$font-avenir-bold: 'AvenirNextCyr-Bold';
$font-avenir-regular: 'AvenirNextCyr-Regular';
// COLORS
$main-black: #333;
$main-gray: #eee;
$main-white: #fff;
$main-yellow: #ffd800;
$blue-light: #1392ba;
$green-light: #47c5c6;
$yellow-offer-term: #FFD700;