.description-title {
    @include fontFam($font-bold);
    font-size: rems(27);
    line-height: rems(36);
    padding: rems(20) 0 rems(10) 0;
    text-align: center;
}

.card-offer {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 rems(20) 0;
    row-gap: rems(20);
    &__text {
        text-align: center;
    }
    &__link {
        margin: rems(30) auto rems(20);
    }
}