footer .offer {
    padding: 0 0 rems(30) 0;
}
.footer-block {
    align-items: center;
    background: $main-gray-5;
    display: flex;
    flex-flow: column;
    padding: rems(25) 0;
    /* font-size: 14px; */
    /* line-height: 22px; */
    text-align: center;
    a {
        color: $main-black-2;
        font-size: rems(14);
        line-height: rems(22);
        text-decoration: underline;
        width: fit-content;
    }
}