.header-title {
    @include fontFam($font-bold);
    text-transform: uppercase;
    text-align: center;

    &__text {
        font-size: rems(29);
        line-height: rems(40);
        padding: rems(12) 0;
    }

    &__name-prod {
        background-color: $blue-light;
        color: $main-white;
        font-size: rems(28);
        letter-spacing: rems(1);
        margin: 0;
        padding: rems(10) 0;
    }
}
// ---- HEADER PRICE START ----
.header-price {
    background: url("../images/offer__price_bg.png") center no-repeat;
    display: flex;
    justify-content: space-around;
    margin: -16px 0 40px;
    min-height: rems(126);
    padding: rems(20) 0 rems(15) 0;
    position: relative;

    &__item {
        align-items: center;
        display: flex;
        flex-basis: 30%;
        flex-direction: column;
        justify-content: center;
        row-gap: rems(5);
    }
}

.regular-price,
.today-price {
    color: $main-black;

    &__text {
        font-size: rems(14);
        line-height: rems(14);
        text-transform: uppercase;
    }
}

.regular-price__value,
.today-price__value {
    font-size: rems(34);
    line-height: rems(34);
}

.regular-price__value {
    text-decoration: line-through;
}

.today-price__value {
    @include fontFam(700);
}
.discount {
    color: $main-white;
    @include fontFam(700);
    &__text {
        font-size: rems(24);
        letter-spacing: rems(2);
        line-height: rems(24);
    }
    &__value {
        font-size: rems(40);
        line-height: rems(40);
    }
}
// ---- HEADER PRICE END ----
.offer-term {
    background-color: $yellow-offer-term;
    border-radius: rems(10);
    box-shadow: 0 0 rems(15) rgba(0, 0, 0, 0.3);
    color: $main-black;
    font-size: rems(24);
    @include fontFam(700);
    padding: rems(20);
}

.order-form {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
}

.field {
    background-color: $main-gray-2;
    background-repeat: no-repeat;
    border: 1px solid $main-gray-3;
    border-radius: rems(4);
    color: $main-black;
    display: block;
    @include fontFam($font-regular);
    font-size: rems(16);
    // margin: rems(25) auto rems(20);
    margin-left: auto;
    margin-right: auto;
    max-width: rems(400);
    padding: rems(23) rems(20) rems(23) rems(80);
    width: 100%;

    &::placeholder {
        color: $main-black;
    }
    &:focus {
        box-shadow: 0 0 rems(15) rgba(0, 0, 0, 0.3);
    }
    &:focus::placeholder {
        color: transparent;
    }
}

.order-form__input-name {
    margin-top: rems(25);
    background-image: url(../images/icons/offer__name_icon.webp);
    background-position: 23px center;
}

.order-form__input-phone {
    background-image: url(../images/icons/offer__phone_icon.webp);
    background-position: 20px center;
}

.clarifying-info {
    padding: rems(20) 0 rems(60);
    text-align: center;
}