.order-form {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
}

.field {
    background-color: $main-gray-2;
    background-repeat: no-repeat;
    border: 1px solid $main-gray-3;
    border-radius: rems(4);
    color: $main-black;
    display: block;
    @include fontFam($font-regular);
    font-size: rems(16);
    // margin: rems(25) auto rems(20);
    margin-left: auto;
    margin-right: auto;
    max-width: rems(400);
    padding: rems(23) rems(20) rems(23) rems(80);
    width: 100%;

    &::placeholder {
        color: $main-black;
    }

    &:focus {
        box-shadow: 0 0 rems(15) rgba(0, 0, 0, 0.3);
    }

    &:focus::placeholder {
        color: transparent;
    }
}

.order-form__input-name {
    margin-top: rems(25);
    background-image: url(../images/icons/offer__name_icon.webp);
    background-position: 23px center;
}

.order-form__input-phone {
    background-image: url(../images/icons/offer__phone_icon.webp);
    background-position: 20px center;
}