/*--- OFFER-BLUE START ---*/
.offer-blue {
    background-color: $blue-light;
    color: $main-white;
    padding: rems(30) 0 rems(30);

    .general-list {
        margin: 0;
        padding: 0;

        &__item {
            background: url(../images/icons/yellow_tick_icon.webp) rems(20) rems(2) no-repeat;
            color: #fff;
            padding: 0 rems(20) rems(16) rems(50);
            position: relative;
        }

        &__item:not(:last-child) {
            margin: 0 0 rems(12);

            &::before {
                background: url(../images/icons/separator__icon.webp) center no-repeat;
                bottom: 0;
                content: '';
                display: block;
                height: rems(4);
                left: 0;
                position: absolute;
                width: 100%;
            }
        }

        &__item:last-child {
            padding-bottom: 0;
        }
    }

    .products-count b {
        background: $blue-dark;
    }

    &__text {
        background-color: $main-white;
        color: $main-black;
        font-size: rems(16);
        padding: rems(10) 0;
        text-align: center;
    }
}

.image-prod-9 {
    display: block;
    margin: 0 auto 30px;
}

.title_white {
    color: $main-white;
}

.image-prod-10 {
    margin: rems(60) 0;
}
/*--- OFFER-BLUE END ---*/